<aside>

	<div class="panel radius">
		{% assign categories_url = site.baseurl | append: '/blog/category/' %}
		<h3><a href="{{ categories_url }}">Chuyên mục</a></h3>
		<ul class="no-bullet">
		{% for category in site.categories %}
			{% assign category_key = category[0] %}
			<li class="icon-paper-plane">&nbsp;{% include page_categories.html categories=category_key %}</li>
		{% endfor %}
		</li>
	</div>

	<div class="panel radius">
		<h3>Câu nói hay</h3>
		<p>
			"Tôi đi, không nhanh, nhưng không bao giờ đi thụt lùi." 
		</p>
		<p style="text-align: right">
			<em>- Abraham Lincoln -</em> 
		</p>
	</div>


	<div class="border-dotted radius b30">
		<img src="../images/cat-demo.jpg" alt="uh, Placekitten">
		<p class="text-left">
			A nice picture ^^
		</p>
	</div>

	<div class="panel radius">
		{% assign tags_url = site.baseurl | append: '/blog/tags/' %}
		<h3><a href="{{ tags_url }}">Tags</a></h3>
		{% include tag_cloud.html baseurl=tags_url %}
	</div>

<!-- 
    <div class="panel radius">
		<h3>Subscribe</h3>
		<ul class="no-bullet">
			<li class="icon-rss">&nbsp;<a href="{{ site.baseurl }}/rss.xml">RSS Feed</a></li>
			<li class="icon-rss">&nbsp;<a href="{{ site.baseurl }}/atom.xml">Atom Feed</a></li>
		</ul>
	</div>
-->
</aside>
