---
layout: page
title: "Các bài viết trong blog"
permalink: /blog/category/
redirect_from:
- /blog/categories/
- /blog/categories.html
breadcrumbs: true
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
{% for category in site.categories %}
	{% assign category_key = category[0] %}
	{% assign category_posts = category[1] %}
	{% assign category_data = nil %}
	{% for category_page in site.pages %}
		{% if category_page.category == category_key %}
			{% assign category_data = category_page %}{% break %}
		{% endif %}
	{% endfor %}
	<h3 id="{{ category_key }}">
		{% if category_data %}
		<a href="{{ site.baseurl }}/blog/category/{{ category_key }}/" class="icon-alias-category">{{ category_data.title }}</a>
		{% else %}
		{{ category_key | capitalize }}
		{% endif %}
		{% include snippets/article_count.html list=category_posts %}
	</h3>
	{% if 0 < category_posts.size %}
	<ul class="no-bullet">
	{% for post in category_posts %}
		<li class="icon-chevron-right">&nbsp;{% include snippets/post_link.html post=post %}</li>
	{% endfor %}
	</ul>
	{% else %}
		Chuyên mục này không có bài viết nào
	{% endif %}
{% endfor %}

	</div><!-- /.small-12.columns -->
</div><!-- /.row -->